body{
    background-color: rgb(45, 45, 52);
    color: rgb(255, 249, 166);
    position: relative;
    text-align: center;
    margin: 0 2em;
    font-family: Helvetica, sans-serif;
}
header{
    position: fixed;
    background-color:rgb(45, 45, 52) ;
    font-weight: bold;
    width: 100%;
    height:auto;
    z-index: 1;
    align-items: center;
}
/* 
header label{
    width: 7em;
} */
header div{
    margin: 1em;
    display: flex;
    gap: 1em;
}
header div a{
    background-color:rgb(233, 245, 255);
    color: rgb(45, 45, 52);
    text-decoration: none;
    padding: .5em  .7em;
    border-radius: .5em;

}
.highlight{
    background-color:#ffef74;
    color: rgb(45, 45, 52);
    padding: .5em;
}

p >  a{
    color: rgb(255, 249, 166);
}
h1{
    color: rgb(233, 245, 255);
    font-size: 2.3em;
}
p{
    font-size: 20px;
     transition: font-size 0.2s ease, letter-spacing 0.2s ease, font-weight 0.2s ease;

}
*:focus{
    
    outline: .3em solid #ff7700;
    
    /* padding: .2em; */
}
.note-active-temp {
    outline: .2em solid #ff4141;
}

main{
  position: absolute;
  top: 5em;
  display: flex;
}
/* main >div:nth-child(1){
    width: 25%;
} */

/* main >div:nth-child(2){
    width: 75%;
} */
ul{
    text-align: start;
}

table{
   margin: auto;
}

td p{
    margin: 0;
}
/* strong{
    color: #f61212;
}
h1,h2,h3,h4,h5{
    color: #f61212;
} */

.highlighted {
    background-color:#ffef74;
    color: black;
    /* outline: .5em solid #ffae74; */
  }

  .note-block {
    width: 30vw;
    height: 30vh;
    border: none;
    padding: 0.5em;
    background: #a4a4a4;
  }

  .note-block textarea {
    width: 100%;
    height: 20vh;
  }

  .note-list{
    display: none; /* standaard verbergen */
    /* padding: 1em; */
    width: 30vw;
  }
  .note-list.has-notes {
    margin: .7em;
    padding: 1em;
    display: block; /* alleen zichtbaar als er notities zijn */
    border-radius: .5em;

    /* border-right: .3em solid #ffe100;
    border-left: .3em solid #ffe100; */
  }

.note-entry{    
    margin: .5em 0;
    text-align: start;
    color:rgb(45, 45, 52);
    background-color: #e9f5ff;
    padding: 1em;
    border-radius: .5em;

}
.note-entry > strong{
    padding-bottom: 1em;
}
