:root{
    --zwart:rgb(45, 45, 52);
    --grijs:rgb(106, 106, 108);
    --wit:rgb(233, 245, 255);
    --geel:rgb(255, 249, 166);
    --geel-highlight:#ffef74;
    --focus-outline:#f61212;
}

body{
    background-color: var(--zwart);
    color: var(--geel);
    position: relative;
    text-align: center;
    margin: 0 ;
    font-family: Helvetica, sans-serif;
}
header{
    position: fixed;
    background-color:var(--zwart) ;
    font-weight: bold;
    width: 100%;
    height:3em;
    z-index: 1;
    align-items: center;
}
header >button{
  margin: .5em;
  height: 2em;
  padding: .2em;
}
header div{
  background-color: var(--zwart);
}
header a{
  position: absolute;
	left: -999em;
}

header  a:focus{
	
	position: absolute;
	left: 5em;
}

#settingsPanel {
  margin-top: 1rem;
  transition: all 0.3s ease;
}

/* 
header label{
    width: 7em;
} */
header nav{
    /* margin: 1em; */
    display: flex;
    gap: 1em;
}
header nav a{
    background-color:var(--wit);
    color: rgb(45, 45, 52);
    text-decoration: none;
    padding: .5em  .7em;
    border-radius: .5em;

}
.highlight{
    background-color:var(--geel-highlight);
    color: rgb(45, 45, 52);
    padding: .5em;
}

p >  a{
    color: var(--geel);
}
h1,
h2,
h3,
h4,
h5,
h6{
    color:var(--wit);
}

h1{
    font-size: 2.3em;
    scroll-margin-top:20vh;
    
}
p{
    font-size: 20px;
     transition: font-size 0.2s ease, letter-spacing 0.2s ease, font-weight 0.2s ease;
     margin: 0 0 4em 0;
}

button{
    background-color:var(--focus-outline);
    color:var(--wit) ;
    font-weight: 500;
    padding: 1em;
    border-radius: .5em;
    border: none;
    margin-left: 2em;
}
*:focus{
    
    outline: .2em solid var(--focus-outline);
    
    /* padding: .2em; */
    background-color:var(--geel-highlight);
    color: black;
}
*:active{
    
  outline: .2em solid var(--focus-outline);
  
  /* padding: .2em; */
  background-color:var(--geel-highlight);
  color: black;
}

.note-active-temp {
    outline: .2em solid var(--focus-outline);
    scroll-snap-type: mandatory;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    background: #5f0505;
    height: 0.5rem;
  }
  
  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    background: #5f0505;
    height: 0.5rem;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    background-color: #eb5c5c;
    height: 2rem;
    width: 1rem;    
 }
main {
    position: relative; /* Belangrijk voor de juiste uitlijning van absolute */
    top: 3.5em;
    display: flex;
    margin-right: 2em;
  }
  
  main > div:nth-of-type(2) {
    margin-left: 27%; /* Dit zorgt ervoor dat de tweede div naast de eerste komt */
      position: absolute;
      top: 0;
      right: 0;
  }
  
  main > div:nth-of-type(1) {
      width: 20%;
    position: fixed;
    background-color: var(--grijs);
    margin: 0;
    padding: 2em;
    height: 100vh;
    }
    main > div:nth-of-type(2) div{
      margin-bottom: 1em;
    }
 a{
    text-decoration: none;
    color: var(--zwart);
    font-weight: 600;
 }
ul{
    text-align: start;
}

table{
   margin: 1em auto;
}

.highlighted {
    background-color:var(--geel-highlight);
    color: black;
  }

  .note-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vh;
    background: var(--grijs);
    padding: 1em;
    border-radius: .5em;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  .note-block textarea {
    width: 100%;
    height: 20vh;
    border-radius: .3em;
    border: none;
  }

  .note-list{
    display: none; /* standaard verbergen */
    /* padding: 1em; */
    width: 30vw;
  }
  .note-list.has-notes {
    margin: .7em;
    padding: 1em;
    display: block; /* alleen zichtbaar als er notities zijn */
    border-radius: .5em;
  }

.note-entry{    
    margin: .5em 0;
    text-align: start;
    color:var(--zwart);
    background-color: var(--wit);
    padding: 1em;
    border-radius: .5em;

}
.note-entry > strong{
    padding-bottom: 1em;
}
